html {
	position: relative;
	height: 100%;
}

main {
	width: 90%;
	margin: 0 auto;
	font-family: $armour;
  // font-size: 12px;
  // background: grey;
}

// .main {
//   display: flex;
//   justify-content: center;
// }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  border: 1px solid darkgray;
}