.map-container {
  position: relative;
}

.map-container button {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 1;
  background-color: white;
  padding: 5px;
}

.map {
  width: 500px;
  height: 500px
}
