.workout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px; //960
  padding: 20px 0 85px;
  box-sizing: border-box;
  // margin-left: 80px;
  margin: 0 auto;

  header {
    padding: 10px 0;

    h1 {
      margin-bottom: 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d9d9d9;
      font-size: 30px;
    }
  }

  form {
    color: black;
    padding-bottom: 60px;

    .workout-top {
      background: rgba(211,214,220,.2);
      border: 1px solid #d9d9d9;
      margin-bottom: 20px;
      padding: 20px;

      .workout-name-group {
        flex-basis: 55%;
      }

      .workout-date-group {
        flex-basis: 35%;
        margin-left: 10%;
      }

      .workout-row:first-of-type {
        margin-bottom: 15px;
      }
    }

    .workout-row {
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap;
      margin-right: -.5rem;
      margin-left: -.5rem;
    }

    .workout-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      box-sizing: border-box;
      padding-right: .5rem;
      padding-left: .5rem;

      > span:first-of-type {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
      }

      input, textarea, select, .workout-distance-input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 4px;
        border: 1px solid #d3d6dc;
        border-radius: 0;
        color: #222628;
        background-color: white;
        font-size: 14px;
        line-height: 1.21;
        height: 44px;
      }

      textarea {
        height: auto;
        resize: vertical;
      } 
    }

    .workout-bottom {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .workout-bottom-row {
        margin-bottom: 20px;

        > span {
          display: block;
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

      .workout-row {

        > span {
          line-height: 50px;
        }

        .workout-duration, .workout-distance {
          flex-basis: auto;

          .workout-duration-input {
            width: 85px;
          }
        }

        .workout-distance-input {
          width: 85px;
          font-weight: normal;
        }
      }
    }

    .workout-submit {
      font-size: 16px;
      min-width: 187px;
      background: #0076C0;
      padding: 12px 15px;
      border-radius: 2px;
      box-shadow: none;
    }
  }
}

input[type='date']::-webkit-clear-button {
  display: none;
}